@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
}

.container-programa {
  @apply flex h-screen;
}

.container-landing {
  @apply mx-auto p-6 bg-gray-100 min-h-screen flex flex-col items-center justify-center;
}

h1 {
  @apply text-5xl font-bold text-gray-900 mb-6;
}

.sidebar {
  @apply w-1/4 bg-white shadow-md p-4;
}

.main-content {
  @apply flex-grow p-6;
}

.content-list ul {
  @apply list-none p-0;
}

.content-list li {
  @apply p-2 cursor-pointer hover:bg-gray-200;
}



input[type="email"],
input[type="password"] {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
}

button[type="submit"] {
  @apply bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50;
}


nav {
  @apply bg-black text-white;
}

.container-nav {
  @apply mx-auto px-4 py-2;
}

.text-content h1 {
  @apply text-3xl font-bold mb-4 flex justify-center;
}

.text-content h2 {
  @apply text-2xl font-bold mb-3 flex justify-center;
}

.text-content p {
  @apply text-base mb-3;
}

.text-content ol {
  @apply list-decimal list-inside mb-3;
}

.text-content li {
  @apply mb-2;
}


footer {
  @apply bg-black text-white py-8;
}

footer .container {
  @apply mx-auto px-4;
}

footer .text-center {
  @apply mt-4 text-sm;
}

.upload-video {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.upload-video h1 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 1.5rem;
  width: 100%;
  font-weight: 600;
}

.upload-video button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.upload-video input[type='file']::file-selector-button {
  background-color: #fff;
  border: 1px solid #000000;
  padding: 0.625rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}


.upload-video button {
  border-radius: 4rem;
  background-color: #000000;
  color: #ffffff;
  padding: 1rem 1rem;
  transition: 0.1s ease-in-out;
}


.upload-video button:hover {
  background-color: #ffffff;
  color: #000000;
  outline: 1px solid #000000;
}


.upload-video input {
  margin-bottom: 1rem;
}

.upload-video form {
  display: flex;
  flex-direction: column;
}